@import "../variables";

.image-with-overlay {
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($accent, 0.2);
    color: $light;
    padding: 2em;

    display: flex;
    justify-content: center;
    align-items: center;

    .text-backdrop {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;
      background-color: $dark;
      padding: 1em;
      max-width: 500px;
    }
  }
}
