@use './variables';
@use './components/social-icons';
@use './components/footer';
@use './components/card';
@use './components/value';
@use './components/mobileNav';
@use './components/overlay';
@use './components/ctaButton';
@import url("https://fonts.googleapis.com/css2?family=Lora&family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-family: "Lora", serif;
}

.mobile-nav {
  margin: 1em 2em;
}

.about {
  padding: 1em 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    // border-left: 10px solid rgb(87, 87, 87);
  }
}

.value-prop {
  text-align: center;
  padding: 1em;
  .value-prop-items {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    span {
      min-width: 250px;
      max-width: 300px;
      text-align: center;
      padding: 1em 2em;
    }
  }
}

@media (min-width: 900px) {
  .nav {
    display: block;
  }
}
